<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
  <test name="Test">
	  <classes>
		<class name="com.qa.test_casesCompare.PriceComparison">
			<methods>
		        <exclude name="testAmazon" />
		        <exclude name="testFlipkart" />
		        <include name="testTripadvisor" />
	      	</methods>
	
		</class>
	
	  </classes>
  </test> 
</suite> 
